/******************************
        **BASIC SETUP
*******************************/
:root {
    --primary: #e67e22;
    --primary-var: #c76917;
    --text-color: #555;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    background-color: #fff;
    color: var(--text-color);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header {
    height: 100vh;
    background-image: linear-gradient(#000b, #000b), url('img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/******************************
    **REUSABLE COMPONENTS
*******************************/
h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2 {
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2::after {
    display: block;
    height: 2px;
    width: 100px;
    margin: 30px auto;
    background-color: var(--primary);
    content: " ";
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


section {
    padding: 80px 0;
}

.row {
    width: 1140px;
    margin: 0 auto;
}
.box {
    padding: 1%;
}
/******************************
**           links
******************************/
a,
a:visited{
    text-decoration: none;
    color: var(--primary);
    padding-bottom: 1px;
    border-bottom:2px solid var(--primary) ;
}
a:hover {
    border-bottom:2px solid transparent ;
    color: var(--text-color);
    transition: .2s;
}
/******************************
**        PARAGRAPHS
*******************************/
.long-copy {
    line-height: 140%;
    width: 70%;
    margin: 0 auto;
}

.box p {
    font-size: 90%;
    line-height: 140%;
}

/******************************
**           ICONS
******************************/
.icon-big {
    font-size: 350%;
    color: var(--primary);
    display: block;
    margin-bottom: 10px;
}
.icon-small {
    margin-right: 15px;
    color: var(--primary);
    font-size: 120%;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -7px;
    
}
.ion-social-twitter:hover {
    color: rgb(0, 172, 237);
}

.ion-social-facebook:hover {
    color: rgb(53, 121, 255);
}

.ion-social-googleplus:hover {
    color: rgb(255, 98, 98);
}

.ion-social-instagram:hover {
    color: rgb(255, 84, 175);
}
/******************************
**            Buttons
*******************************/
.btn:link,
.btn:visited,
input[type=submit]
{
    /* unvisited*/
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    color: white;
    border: 2px solid var(--primary);
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: var(--primary);
}

.btn-ghost:link,
.btn-ghost:visited {
    color: var(--primary);
    transition: background-color 0.2s, color 0.2s, border 0.2s;

}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 2px solid var(--primary-var);
    background-color: var(--primary-var);
    cursor: pointer;
}

/******************************
    ** Nav bar
*******************************/
.logo {
    height: 100px;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 54px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid var(--primary);
    padding-bottom: 8px;
    transition: border-bottom 0.2s;
}

/****************************/
/*      SECTIONS            */
/****************************/


/****************************/
/*      features            */
/****************************/
.section-features .long-copy {
    margin-bottom: 10px;
}

/****************************/
/*      Meals            */
/****************************/

.section-meals {
    padding: 0;

}

 
.meals-showcase {
    list-style: none;
    width: 100%;
    display: flex;
}

.meals-showcase li {
    width: 25%;
} 

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img {
    width: 100%;
    transform: scale(1.15);
    opacity: .7;
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
    transition: transform .5s, opacity .5s;
}

/****************************/
/*      Steps            */
/****************************/
.section-steps,
.section-plans{
    background-color: #f4f4f4;
}
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    font-size: 5%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left:3% ;
    text-align: left;
    margin-top: 70px;
}
.app-screen{
    width: 40%;
} 

.works-step{
    margin-bottom: 50px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}
.works-step div {
    color:var(--primary);
    border-radius: 50px;
    border: 2px solid var(--primary);
    text-align: center;
    font-size: 150%;
    width: 55px;
    height: 55px;
    float: left;
    padding: 7px;
    margin-right: 25px;
}
.btn-app img{
    height: 50px;
    margin-right: 10px;
}
.btn-app,
.btn-app:hover,
.btn-app:visited{
    border: none;
}
/************************/
/**    CITY-FEATURES **/
/************************/
.city-img{
    width: 100%;
    margin-bottom: 15px;
    background-color: black;
}



.city-feature{
    margin-bottom: 10px;
}

/****************************/
/**    TESTIMONIALS        **/
/****************************/

.section-testimonials{
    background-image: linear-gradient(#000c,#000c), url('img/back-customers.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 20px;
}
cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
blockquote::before{
    content: "\201C";
    font-size: 400%;
    display: block;
    margin-bottom: -20px;
    margin-left: -12px;
}
cite img{
    vertical-align: middle;
    border-radius: 50%;
    height: 45px;
    margin-right: 10px;
}

/*********************************/
/*********   PLANS  **************/
/*********************************/

.plan-box {
    background-color: #fff;
    border-radius:5px ;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 2px 2px #efefef;
}
.plan-box div{
    padding: 15px;
    border-bottom: 2px solid #e8e8e8;
}

.plan-price {
    color:var(--primary);
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 300%;
}
.plan-price span{
    font-weight: 300;
    font-size: 30%;
    
}
.plan-price-meal{
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}
.plan-box div:last-child{
    text-align: center;
    border: none;
}
.plan-box div:first-child {
    background-color: #fcfcfc;
    border-radius: 5px 5px 0 0 ;
}


/********************************/
/**         Contact Form        */
/********************************/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    margin: 0;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: var(--text-color);
}

*:focus{
    outline: none;
}

input::placeholder,
textarea::placeholder{
    color: #ccc;
    font-size: 85%;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0 ;
}
/********************************/
/**           Footer            */
/********************************/

footer{
    background-color: #333;
    color:#888;
    font-size: 80%;
    padding: 30px 0;
    line-height: 140%;
}
.footer-nav{
    list-style: none;
}
.footer-nav ,
p{
    margin: 20px 0;
}

.links {
    float: left;
}
.links li{
    margin-right: 20px;
}

.social-links {
    float: right;
}
.social-links li{
    margin-right: 10px;
    font-size: 150%;
}

.social-links li:last-child {
    margin-right: 0px;
}
.footer-nav li{
    display: inline;
}


footer a:link,
footer a:visited{
    color:#888;
    border: none;
}
footer a:hover,
footer a:active{
    color:#ccc;
    border: none;
}

